* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

header{
    background-color: black;
    height: 150px;
    width: 100%;
    padding: 10;
}

.logo {
    float: left;
    height: 130px;
    border: 3px solid white;
    border-radius: 50px;
    margin-left: 20px;
    margin-top: 7px
}

h1 {
    font-size: 41px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: capitalize;
    float: left;
    margin-left: 30px;
    padding-top: 20px;
}

.logonumero {
    font-size: 55px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    display: flex;
    justify-content: center;
}

header ul li {
    list-style: none;
    display: inline-block;
}

header ul li a {
    color: white;
    text-decoration: none;
    font-size: 34px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-right: 30px;

}

header a:hover {
    color: red;
}

.barra {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-top: 60px;
}

main {
    height: 250vh;
    background-image: url(media/fondogamer.jpg);
    background-size: cover;
    background-position: center;
}

.menutiendas {
    height: 200vh;
}

.menufavoritos {
    height: 105vh;
}

.menucarrito {
    height: 100vh;
}

.imagenes {
    height: 20%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-between;
    padding-top: 60px;
}

.imghover:hover {
    transform: scale(1.05);
}

/* 
.imghover1:hover{
    transform: rotate(10deg);
}
.imghover2{
    transform: rotate(10deg);
}
.imghover3:hover{
    transform: scale(1, 2);
}
.imghover4{
    transform: scale(1, 2);
}
.imghover5:hover{
    transform: skew(10deg);
}
.imghover6:hover{
    transform: skewX(15deg);
}
.imghover7{
    transform: skewX(15deg);
}
.imghover8:hover{
    transform: skewY(10deg);
}
.imghover9{
    transform: skewY(10deg);
}
.imghover10{
    transform: skew(10deg);
} */
.masvendido {
    height: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 60px;
}

.ofertas {
    height: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 60px;
}

.videos {
    height: 20%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 100px;
}

.videoplay5 {
    height: 350px;
    width: 600px;
}

.videoxbox {
    height: 350px;
    width: 600px;
}

h2 {
    color: white;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: red;
    text-align: center;
    text-transform: capitalize;
}

.subtitulos {
    color: black;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    padding-top: 50px;
}

table {
    width: 100%;
    font-size: 35px;
    background-color: rgb(235, 235, 235);
}

.tabletodo {
    height: 130px;
    width: 35.5%;
    font-size: 35px;
    background-color: rgb(235, 235, 235);
}

.tablecarro {
    float: right;
    height: 120px;
    width: 28%;
    font-size: 35px;
    background-color: rgb(235, 235, 235);
}

tr {
    text-align: center;
}

.localidad {
    width: 20%;
    font-size: 40px;
    text-decoration: underline;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.direccion {
    width: 20%;
    font-size: 40px;
    text-decoration: underline;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.tel {
    width: 20%;
    font-size: 40px;
    text-decoration: underline;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.map {
    width: 40%;
    font-size: 40px;
    text-decoration: underline;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

iframe {
    height: 200px;
    width: 300px;
}

.eliminarfav input {
    font-size: 30px;
    background-color: rgb(139, 139, 247);
}

section {
    height: 200px;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    padding-top: 100px;
}

footer {
    background-color: black;
    height: 250px;
    width: 100%;
    padding: 10;
}

.consultas {
    color: white;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    padding-top: 10px;
}

.contactate {
    color: white;
    font-size: 22px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
}

.cuotas {
    color: white;
    font-size: 22px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.subscribite {
    color: white;
    font-size: 22px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: right;
}

i {
    color: white;
    height: 50px;
    width: 100px;
    font-size: 50px;
}

.footer-info {
    background-color: black;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fa-solid {
    height: 60px;
    width: 60px;
    font-size: 35px;
    line-height: 75px;
    background-color: red;
    color: black;
    text-align: center;
    border-radius: 50px;
    border: 3px solid white;
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.formu {
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: url(media/pastel.jpg);
    text-align: center;
}

label {
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

fieldset {
    width: 300px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}

header {
    background-color: black;
    height: 150px;
    width: 100%;
    padding: 10;
    .logo {
        float: left;
        height: 130px;
        border: 3px solid white;
        border-radius: 50px;
        margin-left: 20px;
        margin-top: 7px
    }
    h1 {
        font-size: 40px;
        color: white;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-transform: capitalize;
        float: left;
        margin-left: 30px;
        padding-top: 20px;
    }
    .barra {
        display: flex;
        justify-content: end;
        align-items: center;
        padding-top: 60px;
        background-color: black;
        ul li {
            list-style: none;
            display: inline-block;
            ul li a {
                color: white;
                text-decoration: none;
                font-size: 34px;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                margin-right: 30px;
        
            }
        }
    }
}
.menucarrito {
    height: 100vh;
    h2 {
        color: white;
        font-size: 30px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        background-color: red;
        text-align: center;
        text-transform: capitalize;
        margin: 0;
    }
    table .table{
        width: 100%;
        font-size: 35px;
        background-color: rgb(235, 235, 235);
        thead tr {
            text-align: center;
            font-size: 30px;
            .imgcarrito {
                height: 100px;
            }
        }
        tbody tr{

            text-align: center;
            font-size: 30px;
            .imgcarrito {
                height: 100px;
            }
        }
    }
    table .tablecarro{
        float: right;
        height: 120px;
        width: 28%;
        font-size: 35px;
        background-color: rgb(235, 235, 235);
        thead tr {
            text-align: center;
            font-size: 30px;
        }
        tbody tr{

            text-align: center;
            font-size: 30px;
        }
    }
}
rodrigo