* {
    margin: 0;
    padding: 0%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

header {
    background-color: black;
    height: 150px;
    width: 100%;
    padding: 10;
}

.logo{
    float: left;
    height: 130px;
    border: 3px solid white;
    border-radius: 50px;
    margin-left: 20px;
    margin-top: 7px;
}

h1 {
    font-size: 41px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: capitalize;
    float: left;
    margin-left: 30px;
    padding-top: 20px;
}

.logonumero {
    font-size: 55px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

header ul li {
    list-style: none;
    display: inline-block;
}

header ul li a {
    color: white;
    text-decoration: none;
    font-size: 34px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-right: 30px;
}

header a:hover {
    color: red;
}

.barra {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 60px;
}

main {
    height: 250vh;
    background-image: url(media/fondogamer.jpg);
    background-size: cover;
    background-position: center;
}

.menutiendas {
    height: 200vh;
}

.menufavoritos {
    height: 105vh;
}

.menucarrito {
    height: 100vh;
}

.imagenes {
    height: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    padding-top: 60px;
}

.imghover:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

/* 
.imghover1:hover{
    transform: rotate(10deg);
}
.imghover2{
    transform: rotate(10deg);
}
.imghover3:hover{
    transform: scale(1, 2);
}
.imghover4{
    transform: scale(1, 2);
}
.imghover5:hover{
    transform: skew(10deg);
}
.imghover6:hover{
    transform: skewX(15deg);
}
.imghover7{
    transform: skewX(15deg);
}
.imghover8:hover{
    transform: skewY(10deg);
}
.imghover9{
    transform: skewY(10deg);
}
.imghover10{
    transform: skew(10deg);
} */
.masvendido {
    height: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    padding-top: 60px;
}

.ofertas {
    height: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    padding-top: 60px;
}

.videos {
    height: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    padding-top: 100px;
}

.videoplay5 {
    height: 350px;
    width: 600px;
}

.videoxbox {
    height: 350px;
    width: 600px;
}

h2 {
    color: white;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: red;
    text-align: center;
    text-transform: capitalize;
}

.subtitulos {
    color: black;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    padding-top: 50px;
}

table {
    width: 100%;
    font-size: 35px;
    background-color: #ebebeb;
}

.tabletodo {
    height: 130px;
    width: 35.5%;
    font-size: 35px;
    background-color: #ebebeb;
}

.tablecarro {
    float: right;
    height: 120px;
    width: 28%;
    font-size: 35px;
    background-color: #ebebeb;
}

tr {
    text-align: center;
}

.localidad {
    width: 20%;
    font-size: 40px;
    text-decoration: underline;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.direccion {
    width: 20%;
    font-size: 40px;
    text-decoration: underline;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.tel {
    width: 20%;
    font-size: 40px;
    text-decoration: underline;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.map {
    width: 40%;
    font-size: 40px;
    text-decoration: underline;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

iframe {
    height: 200px;
    width: 300px;
}

.eliminarfav input {
    font-size: 30px;
    background-color: #8b8bf7;
}

section {
    height: 200px;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    padding-top: 100px;
}

footer {
    background-color: black;
    height: 250px;
    width: 100%;
    padding: 10;
}

.consultas {
    color: white;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    padding-top: 10px;
}

.contactate {
    color: white;
    font-size: 22px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
}

.cuotas {
    color: white;
    font-size: 22px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.subscribite {
    color: white;
    font-size: 22px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: right;
}

i {
    color: white;
    height: 50px;
    width: 100px;
    font-size: 50px;
}

.footer-info {
    background-color: black;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.fa-solid {
    height: 60px;
    width: 60px;
    font-size: 35px;
    line-height: 75px;
    background-color: red;
    color: black;
    text-align: center;
    border-radius: 50px;
    border: 3px solid white;
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.formu {
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: url(media/pastel.jpg);
    text-align: center;
}

label {
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

fieldset {
    width: 300px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}

header {
    background-color: black;
    height: 150px;
    width: 100%;
    padding: 10;
}

header .logo {
    float: left;
    height: 130px;
    border: 3px solid white;
    border-radius: 50px;
    margin-left: 20px;
    margin-top: 7px;
}

header h1 {
    font-size: 40px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: capitalize;
    float: left;
    margin-left: 30px;
    padding-top: 20px;
}

header .barra {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 60px;
    background-color: black;
}

header .barra ul li {
    list-style: none;
    display: inline-block;
}

header .barra ul li ul li a {
    color: white;
    text-decoration: none;
    font-size: 34px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-right: 30px;
}

.menucarrito {
    height: 100vh;
}

.menucarrito h2 {
    color: white;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: red;
    text-align: center;
    text-transform: capitalize;
    margin: 0;
}

.menucarrito table .table {
    width: 100%;
    font-size: 35px;
    background-color: #ebebeb;
}

.menucarrito table .table thead tr {
    text-align: center;
    font-size: 30px;
}

.menucarrito table .table thead tr .imgcarrito {
    height: 100px;
}

.menucarrito table .table tbody tr {
    text-align: center;
    font-size: 30px;
}

.menucarrito table .table tbody tr .imgcarrito {
    height: 100px;
}

.menucarrito table .tablecarro {
    float: right;
    height: 120px;
    width: 28%;
    font-size: 35px;
    background-color: #ebebeb;
}

.menucarrito table .tablecarro thead tr {
    text-align: center;
    font-size: 30px;
}

.menucarrito table .tablecarro tbody tr {
    text-align: center;
    font-size: 30px;
}

/*# sourceMappingURL=estilos.css.map */